
name: continuous_integration

on: [pull_request, push]

jobs:
  build: 

    runs-on: ubuntu-latest 

    strategy: 
      matrix: 
        os: [ubuntu-latest, macos-latest, windows-latest]
        python-version: [3.7]

    steps: 
      - uses: actions/checkout@v2
   
      - name: setting up python ${{ matrix.python-version }}
        uses: actions/setup-python@v2
        with: 
          python-version: ${{ matrix.python-version }}

      - name: install required packages (python ${{ matrix.python-version }})
        run: | 
          pip install --upgrade pip
          pip install -r requirements.txt
          pip install -e .

      - name: run unit tests (python ${{ matrix.python-version }})
        run: |
          pip install pytest
          pip install pytest-cov
          pip install pytest-randomly
          pytest --cov=gryffin --cov-fail-under=5

